<h2>Registrarse</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :nombre, autofocus: true %>  
    <%= f.label :nombre %><br />    
  </div>
  
  <div class="field">  
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= f.label :email %><br />
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <%= f.label :password %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <%= f.label :password_confirmation %><br />
  </div>

  <div class="actions">
    <%= f.submit "Registrarse" %>
  </div>
<% end %>

